<launch>
  <!-- Launch the camera. -->
  <include file="$(find maeve_cameras)/launch/raspicam_node.launch">
    <arg name="width" value="320"/>
    <arg name="height" value="240"/>
  </include>

  <!-- Launch the control command listener. -->
  <include file="$(find donkey_vehicle_controller)/launch/launch.launch">
    <arg name="command2D_topic" value="$(arg topic)"/>
  </include>
</launch>
