<launch>
  <node
    name="segmentation_isp_field"
    pkg="segmentation_isp_field"
    type="segmentation_isp_field_node"
    output="screen"> 

    <!-- Node parameters. -->
    <rosparam
      command="load"
      file="$(find segmentation_isp_field)/params/node_params.yaml"/>

    <!-- Controller parameters. -->
    <rosparam
      command="load"
      file="$(find segmentation_isp_field)/params/controller_params.yaml"/>

    <!-- Guidance parameters. -->
    <rosparam
      command="load"
      file="$(find segmentation_isp_field)/params/guidance_weights.yaml"/>
  </node>
</launch>
