<launch>
  <!-- Clear existing parameters. -->
  <rosparam command="delete" param="segmentation_isp_field"/>

  <!-- Start node. -->
  <node
    name="segmentation_isp_field"
    pkg="segmentation_isp_field"
    type="segmentation_isp_field_node"
    output="screen"> 

    <!-- Node parameters. -->
    <rosparam
      command="load"
      file="$(find segmentation_isp_field)/params/node_params.yaml"/>

    <!-- Controller parameters. -->
    <rosparam
      command="load"
      file="$(find segmentation_isp_field)/params/controller_params.yaml"/>

    <!-- ISP transform parameters. -->
    <rosparam
      command="load"
      file="$(find segmentation_isp_field)/params/isp_field_params.yaml"/>

    <!-- Guidance parameters. -->
    <!--rosparam
      command="load"
      file="$(find segmentation_isp_field)/params/guidance_weights_road_only.yaml"/-->
    <rosparam
      command="load"
      file="$(find segmentation_isp_field)/params/guidance_weights.yaml"/>
     <!--rosparam
      command="load"
      file="$(find segmentation_isp_field)/params/guidance_weights_inverted.yaml"/-->
  </node>
</launch>
